@model IEnumerable<Discount>
@{
    ViewData["Title"] = "Discounts";
}
<div class="row ">
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            @Html.ActionLink("Create","Create" , "Discounts",null ,new {@class = "btn btn-primary"})
            <table class="table table-bordered">
                <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>LastUpdated</th>
                    <th>Actions</th>
                </tr>
                @foreach (var discount in Model)
                {
                    <tr>
                        <td> @Html.ActionLink(discount.Type,"Details","Discounts", new { id = discount.Id }) </td>
                        <td>@discount.Amount</td>
                        <td>@discount.UpdatedAt</td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@discount.Id">
                                <button class="btn btn-danger" type="submit">Delete</button>
                                @Html.ActionLink("Edit","Edit","Discounts",new { id = discount.Id } , new { @class = "btn btn-success " } )
                            </form>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>

</div>
</div>